.comics-wrapper {
    padding-top: 59px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 825px;
}

.comics-details {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.comics-details__title {
    font-size: 36px;
    font-weight: 500;
}

.comics-details__data {
    display: flex;
    gap: 65px;
    font-size: 12px;
}

.comics-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 480px;
}

.comics-description__rating {
    display: flex;
    gap: 7.5px;
}

.reviews {
    color: #0093B4;
    text-decoration: none;
}

.reviews:hover {
    color: black;
    text-decoration: underline;
}

td {
    padding-right: 13px;
}

.comics-description__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comics-details-title {
    font-size: 16px;
}

.comics-purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 221px;
    height: 172px;
}

.comics-purchase__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13px;
    gap: 9px;
}

.comics-purchase-price {
    font-size: 24px;
    color: #EE171F;
}

.comics-stock {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ellipse {
    width: 7px;
    height: 7px;
    border-radius: 5px;
}

.ellipse_green {
    background: #12A320;
}

.stock-status {
    font-size: 12px;
}

.purchase-button {
    width: 195px;
    height: 23px;
    border-radius: 11.5px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
}

.purchase-button a {
    text-decoration: none;
    display: block;
}

.purchase-button_cart {
    background: #EE171F;
}

.purchase-button_cart:hover {
    background: #FFFFFF;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.purchase-button_buy {
    background: #FFFFFF;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.purchase-button_buy:hover {
    background: #EE171F;
}

.button-cart {
    color: #FFFFFF;
}

.button-cart:hover {
    color: black;
}

.button-buy {
    color: #000000;
}

.button-buy:hover {
    color: #FFFFFF;
}

.comics-details__reviews {
    display: flex;
    gap: 230px;
    min-height: 215px;
}

.reviews-title {
    font: 24px;
    font-weight: 500;
}

.reviews-rating {
    display: flex;
    flex-direction: column;
    min-height: 215px;
    justify-content: flex-end;
    gap: 18px;
}

.comics-card-user-rating {
    display: flex;
    gap: 4px;
}

.comics-card-vector__item {
    width: 18.5px;
    height: 17.4px;
    background-image: url("./pictures/Vector-grey.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.show-star {
    background-image: url("./pictures/Vector.png");
}

.comment-block {
    width: 450px;
    height: 100px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
}

.comment-block__editor {
    margin: 8px 10px 0px 10px;
}

.editor {
    display: flex;
    gap: 9px;
    height: 20px;
    border-bottom: 1px solid #DBDBDB;
}

.editor button {
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
    background: transparent;
    color: #000000;
    font-size: 12px;
}

.editor button:hover {
    background: lightgray;
}

.user-comment {
    width: 420px;
    height: 63px;
    border: none;
    border-radius: 10px;
    resize: none;
    padding-left: 15px;
    padding-right: 15px;
}

.user-comment:hover {
    outline: none;
}

.user-comments-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}

.user-comments-list__item {
    display: flex;
    flex-direction: column;
    min-height: 92px;
    width: 872px;
    border: 0.5px solid grey;
    border-radius: 10px;
    padding-left: 17px;
}

.user-comment-title {
    display: flex;
    gap: 9px;
}

.user-comment-text {
    font-size: 12px;
}

.comment-button {
    display: flex;
    justify-content: flex-end;
    border: none;
    background: transparent;
    cursor: pointer;
}

.comics-block {
    display: flex;
    min-height: 593px;
    flex-direction: column;
    justify-content: space-around;
}

.comics-block__title {
    display: flex;
    justify-content: space-around;
}

.comics-block-title {
    width: 1065px;
}

.comics-block__comics-cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.cart {
    cursor: pointer;
}

@media (max-width: 1121px) {
    .comics-details__data {
        gap: 48px;
    }

    .comics-description {
        gap: 12px;
    }

    .comics-details__reviews {
        gap: 200px;
    }

    .comics-details-text {
        font-size: 11px;
    }

    .user-comments-list__item {
        width: 800px;
    }

    .comics-block-title {
        width: 1000px;
    }

    .comics-block__comics-cards {
        gap: 40px;
    }

}

@media (max-width: 1080px) {
    .comics-details {
        max-width: 900px;
    }

    .comics-details__data {
        gap: 35px;
    }

    .purchase-button {
        width: 170px;
        height: 20px;
    }

    .comics-details__reviews {
        gap: 170px;
    }

    .comment-block {
        width: 400px;
    }

    .user-comment {
        width: 380px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .user-comments-list__item {
        width: 750px;
    }

    .comics-block {
        min-height: 530px;
    }

    .comics-block-title {
        width: 920px;
    }
}

@media (max-width: 992px) {
    .comics-description {
        gap: 10px;
    }

    .comics-description__text {
        gap: 15px;
    }

    .purchase-button {
        width: 180px;
    }

    .comics-details__reviews {
        gap: 140px;
    }

    .comics-details-text {
        font-size: 9px;
    }

    .user-comments-list__item {
        width: 700px;
    }

    .comics-block-title {
        width: 900px;
    }
}

@media (max-width: 955px) {

    .comics-wrapper {
        min-height: 780px;
    }

    .comics-details {
        max-width: 800px;
    }

    .comics-description__text {
        gap: 10px;
    }

    .purchase-button {
        width: 150px;
    }

    .user-comments-list__item {
        width: 600px;
    }

    .comics-block {
        min-height: 500px;
    }

    .comics-block-title {
        width: 800px;
    }
}

@media (max-width: 904px) {
    .comics-details {
        max-width: 700px;
    }

    .comics-purchase-price {
        font-size: 18px;
    }

    .purchase-button {
        width: 120px;
    }

    .comment-block {
        width: 310px;
    }

    .user-comment {
        width: 290px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .user-comments-list__item {
        width: 550px;
    }

    .comics-block-title {
        width: 700px;
    }

    .comics-block__comics-cards {
        gap: 30px;
    }
}

@media (max-width: 768px) {

    .comics-wrapper {
        min-height: 720px;
    }

    .comics-details {
        max-width: 600px;
    }

    .comics-description {
        width: 550px;
    }

    .comics-purchase {
        align-items: center;
    }

    .comics-purchase__item {
        padding-left: 0px;
    }

    .purchase-button {
        width: 90px;
    }

    .comics-details__reviews {
        gap: 125px;
    }

    .reviews-rating {
        justify-content: center;
    }

    .comment-block__editor {
        margin: 4px 5px 0px 5px;
    }

    .editor {
        gap: 4px;
    }

    .editor button {
        width: 13px;
    }

    .user-comments-list__item {
        width: 480px;
    }

    .comics-block {
        min-height: 650px;
        align-items: center;
    }

    .comics-block-title {
        width: 600px;
    }

    .comics-block__comics-cards {
        gap: 20px;
        max-width: 400px;
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {

    .comics-wrapper {
        min-height: 825px;
    }

    .comics-details {
        gap: 20px;
    }

    .comics-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        font-size: 24px;
    }

    .comics-details__data {
        flex-direction: column;
        align-items: center;
    }

    .comics-description {
        align-items: center;
        width: 400px;
    }

    .comics-description__text {
        align-items: center;
    }

    .comics-details-text {
        text-align: justify;
    }

    .comics-purchase {
        flex-direction: row;
        width: 250px;
        height: 100px;
    }

    .comics-details__reviews {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .comics-block__title {
        justify-content: center;
    }

    .comics-block-title {
        width: 200px;
    }

}

@media (max-width: 480px) {

    .comics-description {
        align-items: center;
        width: 300px;
    }

    .user-comments-list__item {
        width: 370px;
    }

    .comics-block {
        min-height: 700px;
    }

}

@media (max-width: 320px) {
   
    .comics-title {
        font-size: 18px;
        height: 70px;
    }

    .comics-description {
        width: 280px;
    }

    .comics-details-text {
        font-size: 8px;
    }

    .comics-purchase {
        width: 220px;
        height: 80px;
    }

    .comics-purchase-price {
        font-size: 14px;
    }

    .user-comments-list__item {
        width: 280px;
    }

    .user-comment-text {
        font-size: 9px;
    }

    .comics-block {
        min-height: 600px;
    }
}